<div class="kv-area-quicklinks">
   <div class="kv-area-section-heading dark">{{area_location}} LISTINGS</div>
   <div class="kv-area-section-line"></div>
   <div class="kv-area-row">
      <div class="kv-col-3">
         <div class="kv-area-listings-block" style="background-image:url('{{imgpath}}images/cat-img.png')">
            <div class="kv-area-quicklinks-category">
               <div class="kv-category-text">Just Listed Homes</div>
            </div>
            <a href="/just-listed" id="just-listed" class="kv-area-listings-overlay">
               <span>View Listings</span>
            </a>
         </div>
      </div>
      <div class="kv-col-3">
         <div class="kv-area-listings-block" style="background-image:url('{{imgpath}}images/cat-img2.png')">
            <div class="kv-area-quicklinks-category">
               <div class="kv-category-text">Luxury Homes</div>
            </div>
            <a href="/luxury-homes" id="luxury-homes" class="kv-area-listings-overlay">
               <span>View Listings</span>
            </a>
         </div>
      </div>
      <div class="kv-col-3">
         <div class="kv-area-listings-block" style="background-image:url('{{imgpath}}images/cat-img3.png)">
            <div class="kv-area-quicklinks-category">
               <div class="kv-category-text">Open Houses</div>
            </div>
            <a href="/open_houses" id="open-houses" class="kv-area-listings-overlay">
               <span>View Listings</span>
            </a>
         </div>
      </div>
      <div class="kv-col-3">
         <div class="kv-area-listings-block" style="background-image:url('{{imgpath}}images/cat-img4.png')">
            <div class="kv-area-quicklinks-category">
               <div class="kv-category-text">Popular Homes</div>
            </div>
            <a href="/popular-homes" id="popular-homes" class="kv-area-listings-overlay">
               <span>View Listings</span>
            </a>
         </div>
      </div>
   </div>
</div>