<div class="kv-area-market" id="kv-area-market" data-listings="{{new_listings}}" data-reductions="{{reductions}}" data-foreclosures="{{foreclosures}}" data-shortsales="{{short_sales}}">
   <div class="kv-area-container">
      <div class="kv-area-section-heading">{{area_location}} Market Health</div>
      <div class="kv-area-section-line"></div>
      <div class="kv-area-row">
         <div class="kv-col-12">
            <canvas id="marketHealth"></canvas>
         </div>
         
      </div>
   </div>
</div>
